---
name: Deploy

on:
  release:
    types:
      - published
  workflow_run:
    workflows: ["CI"]
    branches: [main]
    types:
      - completed
  workflow_dispatch:

jobs:
  workflows:
    uses: hassio-addons/workflows/.github/workflows/addon-deploy.yaml@main
    with:
      repository: k4y0w/ha-addon
    secrets:
      DISPATCH_TOKEN: ${{ secrets.DISPATCH_TOKEN }}
