---
name: Deploy

"on":
  workflow_dispatch:
  release:
    types:
      - published
  workflow_run:
    workflows: ["CI"]
    branches: [main]
    types:
      - completed

jobs:
  workflows:
    uses: hassio-addons/workflows/.github/workflows/addon-deploy.yaml@main
    with:
      repository: k4y0W/HA-addon
      owner_name: ${{ github.repository_owner | lower }}
    secrets:
      DISPATCH_TOKEN: ${{ secrets.DISPATCH_TOKEN }}
